.wrapper{
  height: 100%;
  width: 100%;
  background-color: $header-color;
  .check{
    width: 90%;
    margin: 50px auto;
    background-color:$main-color;
    &__title{
      color: $font-color;
      font-size: 25px;
      padding :50px 30px;
    }
    &__contents{
      .message_box{
        width: 90%;
        border: 1px solid $font-color;
        margin: 5px auto;
        &_name{
          display: flex;
        }
        &_title{
          display: flex;
        }
        &_message{

        }
      }
    }
  }
}