.blog{ id: "blogtop" }
  .blog__box
    .blog__title
      %p Blog
    .blog__message
      %p プログラミングに関する事を書いています
    .blog__contents
      .blog__contents_title
        %p エンジニア日記
      .blog__contents_box
        .blog__contents_box_image
          = image_tag 'cake.jpg'
        .blog__contents_box_discription
          = icon("fas", "chevron-right", class: 'icon')
          = link_to "ブログを見る", "https://sayuroy.hatenablog.com/"