.blog
  .blog__box
    .blog__title
      %p Blog
    .blog__message
      %p プログラミングに関する事を書いています
    .blog__contents
      .blog__contents_title
        %p エンジニア日記
      .blog__contents_box
        .blog__contents_box_image
          %p image
        .blog__contents_box_discription
          %p URL