.contact
  .contact__box
    .contact__title
      %p Contact
    .contact__message
      %p お気軽にお問い合わせ下さい
    .contact__contents
      .contact__contents_title
        %p お問い合わせフォーム
      .contact__contents_form
        .contact__contents_form_name
          %p name
        .contact__contents_form_title
          %p title
        .contact__contents_form_message
          %p message