.main
  %h3 ご覧頂きありがとうございます
  .main__contents
    .main__contents_aboutme
      = image_tag 'ノートパソコン.jpg' do
        %p ABOUT ME
    .main__contents_vision
      = image_tag '光２.jpg' do
        %p VISION
    .main__contents_products
      = image_tag "ノートとペン.jpg" do
        %p PRODUCTS
    .main__contents_contact
      = image_tag '白い花.jpg' do
        %p CONTACT
    .main__contents_left
    .main__contents_right