.main
  %h3 ご覧頂きありがとうございます
  .main__contents
    .main__contents_aboutme
      %p ABOUT ME
    .main__contents_vision
      %p VISION
    .main__contents_products
      %p PRODUCTS
    .main__contents_contact
      %p CONTACT
    .main__contents_left
    .main__contents_right