.products
  .products__box
    .products__title
      %p Products
    .products__message
      %p 制作物を紹介します
    .products__contents
      .products__contents1
        .products__contents1_title
          %p WHIM ARROW!
        .products__contents1_box
          .products__contents1_box_image
            %p image
          .products__contents1_box_discription
            %p Swiftで制作したゲームアプリです
            %p 詳しく見る
            %p GitHub URL
      .products__contents2
        .products__contents2_title
          %p FURIMA (チーム制作)
        .products__contents2_box
          .products__contents2_box_image
            %p image
          .products__contents2_box_discription
            %p Rubyで制作したフリマアプリ（メルカリ等）のコピーアプリです
            %br
            %p ※テストカードを使用した購入ができます
            %p 詳しく見る
            %p GitHub URL