.side__logo
  %h1 Portfolio
.side__contents
  %ul
    %li
      %button{type: "button", class: "btn side__contents_aboutme", id: "aboutme"} About me
    %li
      %button{type: "button", class: "btn side__contents_products", id: "products"} Products
    %li
      %button{type: "button", class: "btn side__contents_Blog", id: "blog"} Blog
    %li
      %button{type: "button", class: "btn side__contents_Contact", id: "contact"} Contact
