.contents__area_box1_input{
  padding: 20px 0 20px 20%;
  font-size: 18px;
  input{
    width: 90%; 
    padding-left: 20px;
    border-radius: 10px;
    margin: 10px 10px;
  }
  .input__title{
    padding-top: 20px;
    &_head{
      font-size: 25px;
    }
  }
  .input__text{
    padding-top: 20px;
    &_head{
      font-size: 25px;
    }
  }
  .input__public{
    padding-top: 20px;
    &_head{
      font-size: 25px;
    }
    #memo_public{
      width: 20px;
      vertical-align: bottom;
      vertical-align: -webkit-baseline-middle;
    }
    label{
      font-size: 20px;
    }
  }
  .input__price{
    padding-top: 20px;
    &_head{
      font-size: 25px;
    }
  }
  .input__submit{
    padding-top: 20px;
    .new_memo_submit{
      color: $app-font;
      padding: 10px 30px;
      margin: 20px 0;
      border-radius: 10px;
      background-color: $app-accent;
    }
  }
}