.blog{
  height: 100vh;
  background-color: $main-color;
  &__box{
    width: 65%;
    padding: 100px 0;
    margin: 0 auto;
    .blog__title{
      font-size: 25px;
      padding-bottom: 20px;
      border-bottom: 1px solid $font_color;
    }
    .blog__message{
      font-size: 18px;
      line-height: 40px;
      padding-bottom: 30px;
    }
    .blog__contents{
      padding: 40px;
      &_title{
        font-size: 18px;
      }
      &_box{
        display: flex;
        &_image{
          background-color: red;
          height: 200px;
          width: 200px;
        }
        &_discription{
          padding-left: 20px;
        }
      }
    }
  }
}