.footer {
  height: 50px;
  width: 100%;
  background-color: $footer-color;
  &__contents{
    text-align: center;
    &_link{
      color: $font-color;
      line-height: 50px;
      text-decoration: none;
    }
  }
}
