.main {
  height: calc(100vh - 130px);
  width: 100%;
  background-color: $main-color;
  h3{
    text-align: center;
    line-height: 70px;
  }
  &__contents{
    display: flex;
    justify-content: space-around;
    &_aboutme{
      background-image: url('ノートパソコン.jpg');
      height: 300px;
      width: 300px;
      background-size: 120%, cover;
      background-position: unset;
      border-radius: 50%;
      opacity: 0.5;
    }
    &_vision{
      background-image: url('光２.jpg');
      height: 300px;
      width: 300px;
      background-size: 120%, cover;
      background-position: center;
      border-radius: 50%;
      opacity: 0.5;
    }
    &_products{
      background-image: url('ノート.jpg');
      height: 300px;
      width: 300px;
      background-size: 150%, cover;
      background-position: center;
      border-radius: 50%;
      opacity: 0.5;
    }
    &_contact{
      background-image: url('白い花.jpg');
      height: 300px;
      width: 300px;
      background-size: 150%, cover;
      background-position: unset;
      border-radius: 50%;
      opacity: 0.4;
    }
    p{
      font-size: 50px;
      text-align: center;
      line-height: 300px;
    }
  }
}

