.main {
  height: calc(100vh - 130px);
  width: 100%;
  background-color: $main-color;
  h3{
    text-align: center;
    line-height: 70px;
  }
  &__contents{
    display: flex;
    img{
      height: 100%;
      width: 80%;
      background-size: cover;
      border-radius: 10%;
      opacity: 50%;
      p{
        font-size: 50px;
        color: $font-color;
      }
    }
    
  }
}

