// カラー
$header-color: #a1d8e2;
$main-color: #f7f6fb;
$footer-color: #f19ca7;
$font-color: #0f2350;
$logo: #fffff9;
$accent-color: #63f7d7;

// appカラー
$app-main:#faee42;
$app-sub: lightgray;
$app-font: #413321;
$app-back: #f6f7f5;
$app-accent: #26ff92;
$app-accent2: #ff89ca;

* {
  box-sizing: border-box;
}

.wrapper{
  height: 100%;
  width: 100vw;
  color: $font-color;
  display: flex;
  p{
    overflow: hidden;
  }
}
