.app
  .header
    = render 'header'
  .contents
    .contents__box
      .contents__box_title
      .contents__box_img
      .contents__box_main
        .mainbox
          .mainbox__list
  .footer
    = render 'footer'